{% macro participant(par) %}
	
	<div class='participant
			{% if par.character.exists and par.battle.active.id == par.character.id %}active{% endif %}
			{% if par.died %}died{% endif %}'
			id='{{ par.id }}'>

		<p>{{par.name() }} [lvl: {{ par.level() }}]</p>
		<div class='bar health' data-amount='{{ par.health() / par.maxHealth() }}'></div>

		<div class='participant-icon {% for effect in par.effects %}{{ effect.name }} {% endfor %}'>{{ par|icon|raw }}</div>

		<div>
			{% for effect in par.effects %}
				<div class='effect orbit'>
					{{ effect|icon|raw }}
				</div>
			{% endfor %}
		</div>

	</div>

{% endmacro %}

{% import _self as self %}

<div class='battle'>

	<div class='row'>
		<div class='battlefield'>
			<p class='right'>Round {{ battle.round }}</p>
			<p class='right feedback'></p>

			<div class='participants'>
				{% for par in battle.enemies(true) if par.health() > 0 or par.died %}

					{{ self.participant(par) }}

				{% endfor %}
			</div>

			<div class='participants'>
				{% for par in battle.characters(true) %}

					{{ self.participant(par) }}

				{% endfor %}
			</div>

		</div>

		<div class='top px-1'>
			{% if battle.active.id == character.id %}

				<div class='options w-100'>
					<div class='option' id='attack'>Attack</div>
					<div class='option' data-action='battle/skip'>Skip</div>
					<div class='option' data-action='battle/run'>Run</div>

					{% for skill in character.skills %}
						<div class='skill option {% if skill.usage.nextUse %}disabled{% endif %}' data-skill='{{ skill.id }}' data-group='{{ skill.group }}' data-parent='attack'>{{ skill.name() }}</div>
					{% endfor %}
				</div>

				{% import 'home/inventory.twig' as inventory %}

				<div class='inventory battle-inventory mt-3'>
					{% for stack in character.itemIn('inventory') if stack.item.can('use') %}

						{{ inventory.slot(stack) }}

					{% endfor %}
				</div>


				{% for stack in character.itemIn('inventory') if stack.item.can('use') %}

					{{ inventory.popup(stack, character, false) }}

				{% endfor %}
			
			{% else %}
			
				{{ battle.active.name() }}' turn

			{% endif %}
		</div>

	</div>
	
	<div class='mt-2'>
		{% for key in battle.messages %}
		<p>{{ key.format()|raw }}</p>	
		{% endfor %}
	</div>
	
</div>