{% macro popup(skill) %}

	<div class='info-popup center mt-2' data-source='.skill[data-skill={{ skill.id }}]'>

		<div class='darken pb-2 pt-1 mt-1'>

			<h3>{{ skill.name() }}</h3>

			{% if skill.usage.nextUse > 0 %}
				<p>Use again in {{ skill.usage.nextUse }}</p>
			{% endif %}

			{% if skill.charge > 0 %}
				<p>Needs {{ skill.charge }} rounds to charge</p>
			{% endif %}

			{% if skill.description() %}
				<p class='mt-1 description'>{{ skill.description() }}</p>
			{% endif %}

		</div>

	</div>

{% endmacro %}

{% macro participant(par) %}
	
	<div class='participant
			{% if par.character.exists and par.battle.active.id == par.character.id %}active{% endif %}
			{% if par.died %}died{% endif %}'
			id='{{ par.id }}'>

		<p>{{par.name() }}</p>
		<div class='bar health' data-amount='{{ par.health / par.maxHealth() }}'></div>

		<div class='participant-icon {% for effect in par.effects %}{{ effect.name }} {% endfor %}'>{{ par|icon|raw }}</div>

		<div>
			{% for effect in par.effects %}
				<div class='effect orbit'>
					{{ effect|icon|raw }}
				</div>
			{% endfor %}
		</div>

	</div>

{% endmacro %}

{% import _self as self %}

<div class='battle'>

	<div class='row w-100'>

		<div>
			<div class='battlefield'>
				<p class='right'>Round {{ battle.round }}</p>
				<p class='right feedback'></p>

				{% for side in battle.sides if side != character.participant.side %}
					<div class='participants'>
						{% for par in battle.onSide(side, true) %}

							{{ self.participant(par) }}

						{% endfor %}
				</div>
				{% endfor %}

				<div class='participants'>
					{% for par in battle.onSide(character.participant.side) %}

						{{ self.participant(par) }}

					{% endfor %}
				</div>

			</div>
		
			<div class='mt-2'>
				{% for key in battle.messages.take(5) %}
				<p>{{ key.format()|raw }}</p>	
				{% endfor %}
			</div>
		</div>

		<div class='top px-1 battle-bar'>
			{% if battle.active.id == character.id %}

				{% for skill in character.participant.charging %}
					<div class='charging'>
						<p>{{ skill.name() }}</p>
						<div>
							{% for i in skill.charge..1 %}
								<div class='charge {% if i > skill.pivot.countdown %}done{% endif %}'></div>
							{% endfor %}
						</div>
					</div>
				{% endfor %}

				<div class='options w-100'>

					{% if character.participant.canTakeTurn() %}
						<div class='option' id='attack'>Attack</div>
						<div class='option' data-action='battle/skip'>Skip</div>
						<div class='option' data-action='battle/run'>Run</div>
					{% else %}
						<div class='option' data-action='battle/skip'>Skip</div>
					{% endif %}

					{% for skill in character.participant.skills %}
						<div class='skill option {% if skill.usage.nextUse %}disabled{% endif %}' data-skill='{{ skill.id }}' data-group='{{ skill.group }}' data-parent='attack'>{{ skill.name() }}</div>
					{% endfor %}
				</div>

				{% import 'home/inventory.twig' as inventory %}

				<div class='inventory battle-inventory mx-a mt-3'>
					{% for stack in character.itemIn('inventory') if stack.item.can('use') %}

						{{ inventory.slot(stack) }}

					{% endfor %}
				</div>

				{% for stack in character.itemIn('inventory') if stack.item.can('use') %}
					{{ inventory.popup(stack, character, false) }}
				{% endfor %}

				{% for skill in character.participant.skills %}
					{{ self.popup(skill) }}
				{% endfor %}
			
			{% else %}
			
				{{ battle.active.name() }}' turn

			{% endif %}
		</div>

	</div>
	
</div>