<div class='battle'>

	<div class='row'>
		<div class='battlefield'>
			<p class='right'>Round {{ battle.round }}</p>
			<p class='right feedback'></p>
			<div class='participants'>
				<div class='row'>
					{% for enemy in battle.enemies() if enemy.participant.health() > 0 or enemy.participant.died %}

						<div class='participant {% if enemy.participant.died %}died{% endif %}' id='{{ enemy.participant.id }}'>
							<p>{{enemy.name() }} [lvl: {{enemy.npc.level }}]</p>
							<div class='healthbar' data-amount='{{ enemy.participant.health() / enemy.participant.maxHealth() }}'></div>
							{{ enemy|icon|raw }}
						</div>

					{% endfor %}
				</div>
			</div>
			<div class='participants'>
				<div class='row'>
					{% for char in battle.characters() %}

						<div class='participant {% if battle.active.id == char.id %}active{% endif %}' id='{{ char.participant.id }}'>
							<p>{{ char.name() }} [lvl: {{char.level() }}]</p>
							<div class='healthbar' data-amount='{{ char.participant.health() / char.participant.maxHealth() }}'></div>
							{{ char|icon|raw }}
						</div>

					{% endfor %}
				</div>
			</div>
		</div>

		<div class='pl-2 top'>
			{% if battle.active.id == character.id %}

				<div class='options vertical'>

					<div class='option' id='attack'>Attack</div>
					<div class='option' data-action='battle/skip'>Skip</div>
					<div class='option' id='item'>Item</div>
					<div class='option' data-action='battle/run'>Run</div>

					{% for skill in character.skills().get() %}
					<div class='skill option {% if skill.usage.nextUse %}disabled{% endif %}' data-skill='{{ skill.id }}' data-group='{{ skill.group }}' data-parent='attack'>{{ skill.name() }}</div>
					{% endfor %}
				</div>
			
			{% else %}
			
				{{ battle.active.name() }}' turn

			{% endif %}
		</div>

	</div>
	
	<div class='mt-2'>
		{% for line in battle.message|split('\\n') %}
		<p>{{ line }}</p>	
		{% endfor %}
	</div>
	
</div>

<script>

	$(window).ready(function() {
		
		$('.participant').click(function() {
			
			window.params.target = $(this).attr('id');
			
			sendAction('battle/skill');
			
		});
		
		$('.participant').hover(function() {
			
			$('.participant').removeClass('selected');
			
			let skill = window.params.skill;
			let group = $('[data-skill=' + skill + ']').attr('data-group') != 0;
			
			if(skill) {
				if(group)
					$(this).closest('.row').find('.participant').addClass('selected');
				else 
					$(this).addClass('selected');
			}
		});
		
		$('.skill').click(function() {
			
			window.params.skill = $(this).attr('data-skill');
			
		});
		
	});

</script>