<div class='battle'>

	<table>
	<tr>
		<td class='battlefield'>
			<p class='right'>Round {{ battle.round }}</p>
			<p class='right feedback'></p>
			<div class='participants'>
				<div class='row'>
					{% for enemy in battle.enemies if enemy.health() > 0 %}

						<div class='participant' data-id='{{ enemy.id }}' data-type='enemy'>
							<p>{{enemy.name() }} [lvl: {{enemy.npc.level }}]</p>
							<div class='healthbar' data-amount='{{ enemy.health() / enemy.maxHealth() }}'></div>
							{{ icon('npc/' ~ enemy.npc.name)|raw }}
						</div>

					{% endfor %}
				</div>
			</div>
			<div class='participants'>
				<div class='row'>
					{% for char in battle.characters %}

						<div class='participant {% if battle.active.id == char.id %}active{% endif %}' data-id='{{ char.id }}' data-type='character'>
							<p>{{char.name }} [lvl: {{char.level() }}]</p>
							<div class='healthbar' data-amount='{{ char.health() / char.maxHealth() }}'></div>
							{{ icon('class/' ~ char.clazz.name)|raw }}
						</div>

					{% endfor %}
				</div>
			</div>
		</td>

		<td class='pl-2 top'>
			{% if battle.active.id == character.id %}

				<div class='options vertical'>

					<div class='option' id='attack'>Attack</div>
					<div class='option' data-action='battle/skip'>Skip</div>
					<div class='option' id='item'>Item</div>
					<div class='option' data-action='battle/run'>Run</div>

					{% for skill in character.skills().get() %}
					<div class='skill option {% if skill.usage.nextUse %}disabled{% endif %}' data-skill='{{ skill.id }}' data-group='{{ skill.group }}' data-parent='attack'>{{ skill.name }}</div>
					{% endfor %}
				</div>
			
			{% else %}
			
				{{ battle.active.name }}' turn

			{% endif %}
		</td>

	</tr></table>
	
	<div class='mb-2'>
		{% for line in battle.message|split('\\n') %}
		<p>{{ line }}</p>	
		{% endfor %}
	</div>
	
</div>

<script>

	$(window).ready(function() {
		
		$('.participant').click(function() {
			
			window.params.target = {
				'id': $(this).attr('data-id'),
				'type': $(this).attr('data-type')
			};
			
			sendAction('battle/skill');
			
		});
		
		$('.participant').hover(function() {
			
			$('.participant').removeClass('selected');
			
			let skill = window.params.skill;
			let group = $('[data-skill=' + skill + ']').attr('data-group') != 0;
			
			if(skill) {
				if(group)
					$(this).closest('.row').find('.participant').addClass('selected');
				else 
					$(this).addClass('selected');
			}
		});
		
		$('.skill').click(function() {
			
			window.params.skill = $(this).attr('data-skill');
			
		});
		
	});

</script>