{% extends 'base.twig' %}

{% macro list(object, many) %}

	<div class='relation-box' data-table='{{ object|call(many.relation).table }}' data-key='{{ many.key }}'>
		<h3>{{ many.relation|removeCamel }}</h3>

		<table class='ml-2'>

			<tr>
				{% for pivot, values in many.pivots %}
					<th>{{ pivot|split('.')[pivot|split('.')|length - 1]|removeCamel }}</th>
				{% endfor %}
				<th></th>
			</tr>

			{% for value in attribute(object, many.relation) %}
				<tr>
					{% for pivot, values in many.pivots %}
						<td>
							{% if values == 'number' %}
								{{ attribute(attribute(value, pivot|split('.')[0]), pivot|split('.')[1]) }}
							{% else %}
								<a href='../{{ value|class|lower }}/{{ value.id }}'>{{ value.name() }}</a>
							{% endif %}
						</td>
					{% endfor %}

				</tr>
			{% endfor %}

			{% if account().hasPermission('editor') %}

				<tr>
					
					{% for pivot, values in many.pivots %}
						<td>
							{% if values == 'number' %}

								<input class='pivot' id='{{ pivot }}' type='number'></input>

							{% else %}

								<select class='pivot' id='{{ pivot }}'>
									<option>select {{ object.relatesTo(many.relation)|capitalize }}</option>
									{% for option in values %}
										<option id='{{ option.id }}'>{{ option.name() }}</option>
									{% endfor %}
								</select>

							{% endif %}
						</td>

						</td>
					{% endfor %}
				</tr>

			{% endif %}

		</table>

	</div>

{% endmacro %}

{% block title %}List{% endblock %}

{% block content %}

	{% if object %}

		<input hidden id='next' value='{{ next.id }}'></input>
		<input hidden id='previous' value='{{ previous.id }}'></input>

		<div class='view pt-1'>

			<input id='value' hidden value='{{ object.id }}'></input>
		
			<a href='../{{ class|lower }}'><span class='view-back'>{{ class|capitalize }}</span></a>
			<h2>{{ object.name() }}</h2>
			<small class='description'>{{ object.description() }}</small>

			<div class='edit-icon optional'>{{ object|icon|raw }}</div>

			<div class='row mb-2 mt-4 relations'>
				{% for attribute, value in object.attributes %}
					{% if attribute ends with '_id' == false %}

						<div class='relation-box small'>
							<h3>{{ attribute|removeCamel }}</h3>
							<div class='pl-2'>
								{% if value %}
									{{ value }}
								{% endif %}
							</div>
						</div>

					{% endif %}

				{% endfor %}
			</div>

			<div class='row mb-2 relations'>
				{% for relation, value in object.relations if value is not iterable %}

					<div class='relation-box'>
						<h3>{{ relation|removeCamel }}</h3>
						<div class='pl-2'>
							{% if value %}
								<a href='../{{ value|class|lower }}/{{ value.id }}'>{{ value.name() }}</a>
							{% endif %}
						</div>
					</div>

				{% endfor %}
			</div>

			<div class='row mb-2 relations'>

				{% import _self as edit %}

				{% for many in manys %}
					{{ edit.list(object, many) }}
				{% endfor %}

			</div>


			{% if account().hasPermission('editor') %}
				<div class='option save'>Save</div>
			{% endif %}

		</div>

	{% else %}

		<h2>Not found in {{ class|capitalize }}</h2>

	{% endif %}

{% endblock %}