{% extends 'base.twig' %}

{% block title %}Profile{% endblock %}

{% set account = account() %}

{% block content %}

	<h5>My name is <input class='grow' type='text' id='name'></input> and I am a</h5>
	
	<div class='charcter-row'>
		{% for starter in starters %}
			
			<div class='character-panel starter {% if character.isSelected() %}selected{% endif %}' data-class='{{ starter.id }}'>
				<h4>{{ starter.name() }}</h4>
				{{ icon("class/" ~ starter.name())|raw }}
			</div>

		{% endfor %}
	</div>

	<div>
		{% for starter in starters %}
			<p class='evolve-description hidden description center' data-class='{{ starter.id }}'>{{ starter.description() }}</p>
		{% endfor %}
		<p class='evolve-description'></p>
	</div>

{% endblock %}