{% extends 'base.twig' %}

{% macro list(object, many) %}

	<div class='relation-box' data-table='{{ object|call(many.relation).table }}' data-key='{{ many.key }}'>
		<h3>{{ many.relation|removeCamel }}</h3>

		<table>

			<tr>
				{% for pivot, values in many.pivots %}
					<th>{{ pivot }}</th>
				{% endfor %}
			</tr>

			{% for value in attribute(object, many.relation) %}
				<tr>
					{% for pivot, values in many.pivots %}
						<td>
							{% if values == 'number' %}
								{{ attribute(attribute(value, pivot|split('.')[0]), pivot|split('.')[1])|json_encode }}
							{% else %}
								<a href='../{{ value|class|lower }}/{{ value.id }}'>{{ value.name() }}</a>
							{% endif %}
						</td>
					{% endfor %}

				</tr>
			{% endfor %}

			<tr>
				
				{% for pivot, values in many.pivots %}
					<td>
						{% if values == 'number' %}

							<input class='pivot' id='{{ pivot }}' type='number'></input>

						{% else %}

							<select class='pivot' id='{{ pivot }}'>
								<option>select {{ object.relatesTo(many.relation)|capitalize }}</option>
								{% for option in values %}
									<option id='{{ option.id }}'>{{ option.name() }}</option>
								{% endfor %}
							</select>

						{% endif %}
					</td>
				{% endfor %}
			</tr>

		</table>

	</div>

{% endmacro %}

{% block title %}List{% endblock %}

{% block content %}

	{% if object %}

		<input id='value' hidden value='{{ object.id }}'></input>
	
		<a href='../{{ class|lower }}'><div class='back'>{{ class|capitalize }}</div></a>
		<h2>{{ object.name() }}</h2>
		<small class='description'>{{ object.description() }}</small>

		<div class='row my-2 relations'>
			{% for relation, value in object.relations if value is not iterable %}

				<div class='relation-box'>
					<h3>{{ relation|removeCamel }}</h3>
					<div>
						{% if value %}
							<a href='../{{ value|class|lower }}/{{ value.id }}'>{{ value.name() }}</a>
						{% endif %}
					</div>
				</div>

			{% endfor %}
		</div>

		<div class='row mb-2 relations'>

			{% import _self as edit %}

			{% for many in manys %}
				{{ edit.list(object, many) }}
			{% endfor %}

		</div>

		<div class='option save'>Save</div>

	{% else %}

		<h2>Not found in {{ class|capitalize }}</h2>

	{% endif %}

{% endblock %}