{% extends 'base.twig' %}

{% block title %}Profile{% endblock %}

{% set account = account() %}

{% block content %}
	
	<h1 class='banner w-66 mb-4'>{{ format('message.welcome', account.username) }}</h1>

	<div class='row'>
		<div class='character-row w-66'>
			{% for character in account.characters %}
				
				<div class='character-panel {% if character.isSelected() %}selected{% endif %}' data-action='character/select/{{ character.id }}'>
					<h4>{{ character.name() }}</h4>
					<small>
						<p>{{ character.description()}}</p>
						<p>Level {{ character.level() }}</p>
						<p>{{ character.birth|age }}</p>
					</small>
					{{ character|icon|raw }}
				</div>

			{% endfor %}

			{% if account.characters.isEmpty() or account.hasPermission('create_chars') %}
				<a href='/profile/create'><div class='character-panel create'>
					<p>Create</p>
					{{ icon('icon/create')|raw }}
				</div></a>
			{% endif %}

		</div>
		
		<div class='row top'>
			<div class='pl-4'>
				<div class='row'>
					{% if account.selected.exists %}
						<a href='/'><div class='profile-btn fade dungeon-btn'>{{ account.selected.position|icon|raw }}</div></a>
					{% endif %}
					<div class='top'>
						<div class='profile-btn fade' data-window='lang-window'>{{ icon('icon/lang')|raw }}</div>
					</div>
				</div>

				{% if account.selected.exists %}
					{% set stats = account.selected.stats() %}
					
					<div class='bar health' data-amount='{{ account.selected.participant.health / account.selected.maxHealth() }}'></div>
					<div class='mt-1'></div>
					<div class='bar xp' data-amount='{{ account.selected.xp / account.selected.requiredXp() }}'></div>
					
					<table class='stats mt-2 w-100'>
						{% for stat in stats.keys %}
							<tr>
								<td class='stat'>{{ format('stat.' ~ stat) }}:</td>
								<td class='stat highlight'>{{ attribute(stats, stat) }}</td>
							</tr>
						{% endfor %}
					</table>

					<div class='mt-2'>
						{% for skill in account.selected.skills %}
							<p>{{ skill.name() }}</p>
						{% endfor %}
					</div>
								
				{% endif %}
			</div>
			<div class='pl-2'>
				{% if account.selected.exists %}
					<div class='journey'>
						<h2>Your Journey</h2>
						<p>{{ format('journey.start') }}</p>
						{% for class in account.selected.classes %}
							<p>{{ class.name() }}</p>
						{% endfor %}
						<p>{{ format('journey.end') }}</p>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	<div class='window' id='lang-window'>
		<div class='row'>
			{% for index, lang in langs() %}

				{% if index > 0 and index % 8 == 0 %}</div><div class='row'>{% endif %}
				<div class='lang' data-action='language/{{ lang }}'>{{ lang|lower }}</div>

			{% endfor %}
		</div>
	</div>

{% endblock %}