{% extends 'base.twig' %}

{% block title %}Profile{% endblock %}

{% set account = account() %}

{% block content %}
	
	<h1>Welcome <a class='highlight mb-4'>{{ account.username }}</a>!</h1>

	<div class='col'>
	<div class='row'>
		{% for character in account.relations.characters %}
			
			<div class='character-panel {% if character.isSelected() %}selected{% endif %}' data-action='character/select/{{ character.id }}'>
				<h4>{{ character.name }}</h4>
				<small>
					<p>{{ character.relations.race.name}} {{ character.relations.clazz.name }}</p>
					<p>Level {{ character.level() }}</p>
					<p>{{ character.birth|age }}</p>
				</small>
				{{ icon("class/" ~ character.relations.clazz.name|lower, [ character.relations.race.skin ])|raw }}
			</div>

		{% else %}
			
			<a href='create'>
				<div class='character-panel'>
					<h4 class='text-black mt-5' >Create Character</h4>
				</div>
			</a>

		{% endfor %}
	</div>
	</div>
	
	<div class='col'>

	{% if account.relations.selected %}
		{% set stats = account.relations.selected.stats() %}

			<div class='stats ml-5'>
				{% for stat in stats.keys %}
					<table>
					<tr>
						<td class='stat'>{{ stat }}:</td>
						<td class='stat highlight'>{{ attribute(stats, stat) }}</td>
					</tr>
					</table>
				{% endfor %}
			</div>
					
	{% endif %}
	</div>

{% endblock %}