{% extends 'base.twig' %}

{% block title %}Profile{% endblock %}

{% macro panel(character) %}
	<div class='character-panel {% if character.isSelected() %}selected{% endif %}' data-id='{{ character.id }}'>
		<h4>{{ character.name }}</h4>
		<small>
			<p>{{ character.race().name}} {{ character.clazz().name }}</p>
			<p>Level {{ character.level() }}</p>
			<p>{{ character.birth|age }} Day{% if character.birth|age != 1 %}s{% endif %}</p>
		</small>
		{{ icon("class/" ~ character.clazz().name|lower, [ character.race().skin ])|raw }}
	</div>
{% endmacro %}

{% set account = account() %}
{% set characters = account.characters() %}

{% block content %}

	{% import _self as profile %}
	
	<h1>Welcome <a class='highlight mb-4'>{{ account.username }}</a>!</h1>

	<div class='col'>
	<div class='row'>
		{% for character in characters %}
			{{ profile.panel(character) }}
		{% endfor %}
	</div>
	</div>
	
	<div class='col'>
	{% if account.selected() %}
		{% set stats = account.selected().stats() %}

			<div class='stats ml-5'>
				{% for stat in stats.keys %}
					<table>
					<tr>
						<td class='stat'>{{ stat }}:</td>
						<td class='stat highlight'>{{ attribute(stats, stat) }}</td>
					</tr>
					</table>
				{% endfor %}
			</div>
					
	{% endif %}
	</div>

{% endblock %}

{% block script %}
<script>
	$('.character-panel').each(function() {
		let panel = $(this);
		panel.sendAction('character/select/' + panel.attr('data-id'));
	});
</script>
{% endblock %}